{% extends 'base.html' %}

{% block content %}
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="row justify-content-center">
                    <div class="col-md-12 text-center">
                        <h1>Password Recovery</h1>
                    </div>
                </div>
                <div class="mb-3">
                    {{ form.email.label(class="form-label") }}
                    {{ form.email(size=32, class="form-control") }}
                </div>
                <div class="mb-3">
                    <div class="row justify-content-center">
                        <div class="col-md-6 text-center">
                            {{ form.submit(class="btn btn-primary") }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
