<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration and Login Test</title>
</head>
<body>

<h2>User Registration</h2>
<form id="registerForm">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required><br>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required><br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br>

    <label for="name">First Name:</label>
    <input type="text" id="name" name="name" required><br>

    <label for="lastname">Last Name:</label>
    <input type="text" id="lastname" name="lastname" required><br>

    <button type="button" onclick="registerUser()">Register</button>
</form>

<h2>User Login</h2>
<form id="loginForm">
    <label for="loginUsername">Username:</label>
    <input type="text" id="loginUsername" name="username" required><br>

    <label for="loginPassword">Password:</label>
    <input type="password" id="loginPassword" name="password" required><br>

    <label for="combination_id">Combination:</label>
    <input type="number" id="combination_id" name="combination_id" required><br>

    <button type="button" onclick="loginUser()">Login</button>
</form>

<h2>User Logout</h2>
<form id="logoutForm">
    <button type="button" onclick="logoutUser()">Logout</button>
</form>

<h2>Input file</h2>
<form id="inputFileForm" enctype="multipart/form-data" method="post">
    <input type="file" name="file" id="file">
    <button type="submit" onclick="sendFile()">Submit</button>
</form>

<script>
    async function registerUser() {
        const registerForm = document.getElementById('registerForm');
        const formData = new FormData(registerForm);

        try {
            const response = await fetch('/register', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(Object.fromEntries(formData)),
            });

            const data = await response.json();
            console.log(data);
            alert(data.message);
        } catch (error) {
            console.error('Error during registration:', error);
        }
    }

    async function loginUser() {
        const loginForm = document.getElementById('loginForm');
        const formData = new FormData(loginForm);

        console.log(Object.fromEntries(formData));

        try {
            const response = await fetch('/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'accept': '*/*',
                },
                body: JSON.stringify(Object.fromEntries(formData)),
            });
            console.log(response);
        } catch (error) {
            console.error('Error during login:', error);
            alert('Error during login')
        }
    }

    async function logoutUser() {
        try {
            const response = await fetch('/logout', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
            });

            const data = await response.json();
            console.log(data);
            alert(data.message);
        } catch (error) {
            console.error('Error during logout:', error);
        }
    }

    async function sendFile() {
        const inputFileForm = document.getElementById('inputFileForm');
        const formData = new FormData(inputFileForm);

        console.log(formData)
        console.log(formData.get('file'));

        try {
            const response = await fetch('/send_document', {
                method: 'POST',
                header: {
                    'Content-Type': 'multipart/form-data',
                },
                body: formData,
            });

            const data = await response.json();
            console.log(data);
            alert(data.message);
        } catch (error) {
            console.error('Error during file upload:', error);
            alert('Error during file upload')
        }
    }
</script>
</body>
</html>
